a, .page-link {
    color: #28a745;  
}

a:not(.btn-success):not(.active):not(.page-link):not(.btn-dark):hover {
    color: #218838 !important;
}

.page-item:not(.active) .page-link:hover {
    color: #218838 !important;
}

.page-item.active .page-link {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0rem !important; 
}

.login-page, .register-page{
    background-image: url('/img/background-image-2.png');
    background-size: 1920px 1080px;
}

.brand-image {
    margin-left: .5rem !important;
}

// .login-box {
//     padding: 5% 0 !important;
// }

.register-box {
    padding: 1% 0 !important;
}

.login-card-body, .register-card-body {
    border-radius: 0% !important;
}

.card.station {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.125) !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-left: 1px solid rgba(0,0,0,.125) !important;
    border-right: 1px solid rgba(0,0,0,.125) !important;
}

/* not active tabs */
// .nav-tabs .tab-1 .nav-link:not(.active) {
//     background-color: #ffffff;
//     border-top: 1px solid rgba(0,0,0,.125);
//     border-left: 1px solid rgba(0,0,0,.125);
//     border-right: 1px solid rgba(0,0,0,.125);
// }

// .nav-tabs .tab-2 .nav-link:not(.active) {
//     background-color: #ffffff;
//     border-top: 1px solid rgba(0,0,0,.125);
//     border-left: 1px solid rgba(0,0,0,.125);
//     border-right: 1px solid rgba(0,0,0,.125);
// }

// .nav-tabs .tab-3 .nav-link:not(.active) {
//     background-color: #ffffff;
//     border-top: 1px solid rgba(0,0,0,.125);
//     border-left: 1px solid rgba(0,0,0,.125);
//     border-right: 1px solid rgba(0,0,0,.125);
// }


/* active tabs (faded) */
.nav-tabs .tab-1 .nav-link.active {
    background-color: #28a745;
    color: white;
}

.nav-tabs .tab-2 .nav-link.active {
    background-color: #28a745;
    color: white;
}

.nav-tabs .tab-3 .nav-link.active {
    background-color: #28a745;
    color: white;
}

.highcharts-container, .highcharts-root, .highcharts-background, .highcharts-plot-background {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal;
}

.daily-average-icon {
    color: #28a745 !important;
}

text.highcharts-credits {
    display: none !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}
